<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{32,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{28,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{64,0},{28,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_05_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{96,0},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{30,24}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{133,0},{30,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{133,26},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,32},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{34,32},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{71,37},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{103,58},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,31}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{135,58},{32,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{0,69},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{37,69},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{25,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{71,69},{25,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,36}</string>
			<key>spriteSourceSize</key>
			<string>{35,36}</string>
			<key>textureRect</key>
			<string>{{98,90},{35,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{135,91},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-8}</string>
			<key>spriteSize</key>
			<string>{13,12}</string>
			<key>spriteSourceSize</key>
			<string>{32,31}</string>
			<key>textureRect</key>
			<string>{{71,92},{13,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{37,103},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,106},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,0}</string>
			<key>spriteSize</key>
			<string>{20,29}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{71,106},{20,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{135,123},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{32,24}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{93,128},{32,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{32,27}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{32,137},{32,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{66,154},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{127,157},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{32,29}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,166},{32,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_12_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{65,188},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet.png</string>
		<key>size</key>
		<string>{167,223}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet.png</string>
	</dict>
</dict>
</plist>