<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_02_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{104,88}</string>
			<key>spriteSourceSize</key>
			<string>{114,99}</string>
			<key>textureRect</key>
			<string>{{0,0},{104,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{97,84}</string>
			<key>spriteSourceSize</key>
			<string>{114,99}</string>
			<key>textureRect</key>
			<string>{{106,0},{97,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_01_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,9}</string>
			<key>spriteSize</key>
			<string>{64,60}</string>
			<key>spriteSourceSize</key>
			<string>{114,99}</string>
			<key>textureRect</key>
			<string>{{0,90},{64,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,96}</string>
			<key>spriteSourceSize</key>
			<string>{111,96}</string>
			<key>textureRect</key>
			<string>{{66,99},{111,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{0,152},{38,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{16,32}</string>
			<key>textureRect</key>
			<string>{{179,99},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,62}</string>
			<key>spriteSourceSize</key>
			<string>{46,62}</string>
			<key>textureRect</key>
			<string>{{0,192},{46,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{179,117},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_03_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{179,169},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_03_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{64,197},{26,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{56,34}</string>
			<key>textureRect</key>
			<string>{{124,197},{55,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_04_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,6}</string>
			<key>spriteSourceSize</key>
			<string>{6,6}</string>
			<key>textureRect</key>
			<string>{{187,169},{6,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_04_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,42}</string>
			<key>spriteSourceSize</key>
			<string>{64,42}</string>
			<key>textureRect</key>
			<string>{{124,233},{63,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02-uhd.png</string>
		<key>size</key>
		<string>{197,275}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02-uhd.png</string>
	</dict>
</dict>
</plist>