<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_02_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,49}</string>
			<key>spriteSourceSize</key>
			<string>{57,49}</string>
			<key>textureRect</key>
			<string>{{0,0},{57,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{54,47}</string>
			<key>spriteSourceSize</key>
			<string>{57,49}</string>
			<key>textureRect</key>
			<string>{{0,51},{54,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,4}</string>
			<key>spriteSize</key>
			<string>{35,34}</string>
			<key>spriteSourceSize</key>
			<string>{57,49}</string>
			<key>textureRect</key>
			<string>{{59,0},{35,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,48}</string>
			<key>spriteSourceSize</key>
			<string>{55,48}</string>
			<key>textureRect</key>
			<string>{{0,100},{55,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,27}</string>
			<key>spriteSourceSize</key>
			<string>{19,27}</string>
			<key>textureRect</key>
			<string>{{59,36},{19,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{8,10}</string>
			<key>spriteSourceSize</key>
			<string>{8,16}</string>
			<key>textureRect</key>
			<string>{{88,36},{8,10}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,31}</string>
			<key>spriteSourceSize</key>
			<string>{23,31}</string>
			<key>textureRect</key>
			<string>{{57,57},{23,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,25}</string>
			<key>spriteSourceSize</key>
			<string>{9,25}</string>
			<key>textureRect</key>
			<string>{{90,46},{9,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_03_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{90,73},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_03_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{13,29}</string>
			<key>spriteSourceSize</key>
			<string>{13,29}</string>
			<key>textureRect</key>
			<string>{{57,82},{13,29}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,17}</string>
			<key>spriteSourceSize</key>
			<string>{28,17}</string>
			<key>textureRect</key>
			<string>{{57,97},{28,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_04_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string>{3,3}</string>
			<key>textureRect</key>
			<string>{{95,73},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_04_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,21}</string>
			<key>spriteSourceSize</key>
			<string>{32,21}</string>
			<key>textureRect</key>
			<string>{{57,116},{32,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02-hd.png</string>
		<key>size</key>
		<string>{99,148}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02-hd.png</string>
	</dict>
</dict>
</plist>