<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_02_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,24}</string>
			<key>spriteSourceSize</key>
			<string>{28,24}</string>
			<key>textureRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,24}</string>
			<key>spriteSourceSize</key>
			<string>{28,24}</string>
			<key>textureRect</key>
			<string>{{0,26},{28,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,3}</string>
			<key>spriteSize</key>
			<string>{19,19}</string>
			<key>spriteSourceSize</key>
			<string>{28,24}</string>
			<key>textureRect</key>
			<string>{{0,52},{19,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_01_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,24}</string>
			<key>spriteSourceSize</key>
			<string>{27,24}</string>
			<key>textureRect</key>
			<string>{{21,52},{27,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{9,13}</string>
			<key>spriteSourceSize</key>
			<string>{9,13}</string>
			<key>textureRect</key>
			<string>{{0,73},{9,13}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{4,6}</string>
			<key>spriteSourceSize</key>
			<string>{4,8}</string>
			<key>textureRect</key>
			<string>{{15,73},{4,6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,15}</string>
			<key>spriteSourceSize</key>
			<string>{11,15}</string>
			<key>textureRect</key>
			<string>{{15,81},{11,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,12}</string>
			<key>spriteSourceSize</key>
			<string>{4,12}</string>
			<key>textureRect</key>
			<string>{{32,81},{4,12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_03_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{46,81},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_03_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,14}</string>
			<key>spriteSourceSize</key>
			<string>{6,14}</string>
			<key>textureRect</key>
			<string>{{32,87},{6,14}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,8}</string>
			<key>textureRect</key>
			<string>{{0,84},{14,8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_02_04_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{1,1}</string>
			<key>textureRect</key>
			<string>{{10,84},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_02_04_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,10}</string>
			<key>spriteSourceSize</key>
			<string>{16,10}</string>
			<key>textureRect</key>
			<string>{{13,94},{16,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02.png</string>
		<key>size</key>
		<string>{47,104}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_02.png</string>
	</dict>
</dict>
</plist>