<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,108}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{123,0},{109,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{13,-7}</string>
			<key>spriteSize</key>
			<string>{106,106}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{234,0},{106,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{134,128}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{342,0},{134,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-18}</string>
			<key>spriteSize</key>
			<string>{102,81}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{478,0},{102,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,6}</string>
			<key>spriteSize</key>
			<string>{124,112}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{478,83},{124,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{131,125}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{123,110},{131,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{140,131}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{256,130},{140,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{0,122},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,108}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{398,197},{109,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{128,114}</string>
			<key>spriteSourceSize</key>
			<string>{128,125}</string>
			<key>textureRect</key>
			<string>{{509,197},{128,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{136,131}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{123,237},{136,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{126,128}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{256,263},{126,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{85,70}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{0,244},{85,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{133,135}</string>
			<key>spriteSourceSize</key>
			<string>{141,145}</string>
			<key>textureRect</key>
			<string>{{386,313},{133,135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{523,313},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-30}</string>
			<key>spriteSize</key>
			<string>{35,33}</string>
			<key>spriteSourceSize</key>
			<string>{128,125}</string>
			<key>textureRect</key>
			<string>{{646,0},{35,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{87,375},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{217,391},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-23,-5}</string>
			<key>spriteSize</key>
			<string>{66,102}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{0,316},{66,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{523,435},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-21}</string>
			<key>spriteSize</key>
			<string>{119,84}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{340,448},{119,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{122,99}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{68,505},{122,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,129}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{192,513},{125,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{131,137}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{323,534},{131,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{462,565},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-10}</string>
			<key>spriteSize</key>
			<string>{123,106}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{0,606},{123,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{136,138}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{125,640},{136,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet-uhd.png</string>
		<key>size</key>
		<string>{681,776}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet-uhd.png</string>
	</dict>
</dict>
</plist>