<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{62,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-3}</string>
			<key>spriteSize</key>
			<string>{55,57}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{124,0},{55,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_05_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,69}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{183,0},{69,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{55,44}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{254,0},{55,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{65,59}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{254,46},{65,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{0,62},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{67,62},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{139,71},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{201,107},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{64,59}</string>
			<key>spriteSourceSize</key>
			<string>{64,62}</string>
			<key>textureRect</key>
			<string>{{263,107},{64,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{0,134},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{72,134},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{46,39}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{139,133},{46,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{70,71}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{263,168},{70,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{187,169},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-15}</string>
			<key>spriteSize</key>
			<string>{21,20}</string>
			<key>spriteSourceSize</key>
			<string>{64,62}</string>
			<key>textureRect</key>
			<string>{{139,174},{21,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{72,201},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,206},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-12,-2}</string>
			<key>spriteSize</key>
			<string>{37,55}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{139,196},{37,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{178,231},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{63,45}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{244,240},{63,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{64,53}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{62,267},{64,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{244,287},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{138,297},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{0,322},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-4}</string>
			<key>spriteSize</key>
			<string>{64,57}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{67,322},{64,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,70}</string>
			<key>spriteSourceSize</key>
			<string>{70,70}</string>
			<key>textureRect</key>
			<string>{{210,354},{70,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet-hd.png</string>
		<key>size</key>
		<string>{334,424}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheet-hd.png</string>
	</dict>
</dict>
</plist>