<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,60}</string>
			<key>spriteSourceSize</key>
			<string>{152,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{152,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,54}</string>
			<key>spriteSourceSize</key>
			<string>{143,54}</string>
			<key>textureRect</key>
			<string>{{154,0},{143,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_3_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,56}</string>
			<key>spriteSize</key>
			<string>{106,82}</string>
			<key>spriteSourceSize</key>
			<string>{106,194}</string>
			<key>textureRect</key>
			<string>{{299,0},{106,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{141,58}</string>
			<key>spriteSourceSize</key>
			<string>{141,58}</string>
			<key>textureRect</key>
			<string>{{407,0},{141,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,68}</string>
			<key>spriteSourceSize</key>
			<string>{160,68}</string>
			<key>textureRect</key>
			<string>{{550,0},{160,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,1}</string>
			<key>spriteSize</key>
			<string>{180,155}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{712,0},{180,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-7,1}</string>
			<key>spriteSize</key>
			<string>{170,149}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{894,0},{170,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-61,1}</string>
			<key>spriteSize</key>
			<string>{59,145}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1066,0},{59,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>jetpack_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,1}</string>
			<key>spriteSize</key>
			<string>{188,163}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1213,0},{188,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{154,56},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,108}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{407,60},{109,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{13,-7}</string>
			<key>spriteSize</key>
			<string>{106,106}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{1066,61},{106,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{134,128}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{0,62},{134,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-18}</string>
			<key>spriteSize</key>
			<string>{102,81}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{518,70},{102,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,6}</string>
			<key>spriteSize</key>
			<string>{124,112}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{277,84},{124,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{131,125}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{894,151},{131,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{140,131}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{518,153},{140,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{660,157},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,108}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{783,157},{109,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{128,114}</string>
			<key>spriteSourceSize</key>
			<string>{128,125}</string>
			<key>textureRect</key>
			<string>{{1174,165},{128,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{136,131}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{1027,169},{136,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,1}</string>
			<key>spriteSize</key>
			<string>{126,128}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{136,178},{126,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{85,70}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{1304,165},{85,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{133,135}</string>
			<key>spriteSourceSize</key>
			<string>{141,145}</string>
			<key>textureRect</key>
			<string>{{0,192},{133,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{266,198},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-30}</string>
			<key>spriteSize</key>
			<string>{35,33}</string>
			<key>spriteSourceSize</key>
			<string>{128,125}</string>
			<key>textureRect</key>
			<string>{{403,170},{35,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{783,278},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{389,205},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-23,-5}</string>
			<key>spriteSize</key>
			<string>{66,102}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{1304,237},{66,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_10_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{129,128}</string>
			<key>textureRect</key>
			<string>{{1165,281},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-21}</string>
			<key>spriteSize</key>
			<string>{119,84}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{660,279},{119,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{122,99}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{512,286},{122,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,129}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{913,302},{125,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{131,137}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{135,320},{131,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{274,327},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-10}</string>
			<key>spriteSize</key>
			<string>{123,106}</string>
			<key>spriteSourceSize</key>
			<string>{131,131}</string>
			<key>textureRect</key>
			<string>{{1295,305},{123,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{136,138}</string>
			<key>spriteSourceSize</key>
			<string>{141,141}</string>
			<key>textureRect</key>
			<string>{{636,365},{136,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_13_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,120}</string>
			<key>spriteSourceSize</key>
			<string>{144,120}</string>
			<key>textureRect</key>
			<string>{{0,329},{144,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_13_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,110}</string>
			<key>spriteSourceSize</key>
			<string>{134,110}</string>
			<key>textureRect</key>
			<string>{{1044,302},{134,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_13_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,116}</string>
			<key>spriteSourceSize</key>
			<string>{132,116}</string>
			<key>textureRect</key>
			<string>{{406,387},{132,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_13_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,128}</string>
			<key>spriteSourceSize</key>
			<string>{152,128}</string>
			<key>textureRect</key>
			<string>{{1156,413},{152,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{781,408},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,82}</string>
			<key>spriteSourceSize</key>
			<string>{64,82}</string>
			<key>textureRect</key>
			<string>{{540,387},{64,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_14_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{64,81}</string>
			<key>spriteSourceSize</key>
			<string>{64,82}</string>
			<key>textureRect</key>
			<string>{{1310,413},{64,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_14_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{903,429},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1033,438},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{122,453},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{238,457},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,475},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{624,503},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,33}</string>
			<key>spriteSize</key>
			<string>{108,43}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1310,479},{108,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{368,505},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{498,505},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{776,530},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1310,524},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1155,543},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{890,559},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1012,560},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{108,78}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{122,569},{108,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{232,587},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,597},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{620,619},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1285,634},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{498,627},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{362,635},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{730,644},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_21_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1012,670},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_21_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,105}</string>
			<key>spriteSourceSize</key>
			<string>{105,105}</string>
			<key>textureRect</key>
			<string>{{122,649},{105,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_21_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{105,105}</string>
			<key>spriteSourceSize</key>
			<string>{105,107}</string>
			<key>textureRect</key>
			<string>{{1134,673},{105,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_21_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{860,681},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_22_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{229,717},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_22_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{0,719},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_22_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{108,100}</string>
			<key>spriteSourceSize</key>
			<string>{108,110}</string>
			<key>textureRect</key>
			<string>{{620,729},{108,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_22_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{351,745},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_23_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,120}</string>
			<key>spriteSourceSize</key>
			<string>{144,120}</string>
			<key>textureRect</key>
			<string>{{1241,764},{144,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_23_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,108}</string>
			<key>spriteSourceSize</key>
			<string>{132,108}</string>
			<key>textureRect</key>
			<string>{{481,749},{132,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_23_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,108}</string>
			<key>spriteSourceSize</key>
			<string>{132,108}</string>
			<key>textureRect</key>
			<string>{{114,756},{132,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_23_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,128}</string>
			<key>spriteSourceSize</key>
			<string>{152,128}</string>
			<key>textureRect</key>
			<string>{{990,792},{152,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_24_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{730,774},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_24_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{852,811},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_24_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,39}</string>
			<key>spriteSize</key>
			<string>{108,30}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{615,831},{108,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_24_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{481,859},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_25_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{224,839},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_25_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{0,833},{108,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_25_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{119,119}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{346,875},{119,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_25_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1144,886},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_26_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1274,886},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_26_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,112}</string>
			<key>spriteSourceSize</key>
			<string>{112,112}</string>
			<key>textureRect</key>
			<string>{{611,863},{112,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_26_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,51}</string>
			<key>spriteSize</key>
			<string>{108,6}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1415,634},{108,6}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_26_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{725,921},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_27_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{170,138}</string>
			<key>spriteSourceSize</key>
			<string>{170,156}</string>
			<key>textureRect</key>
			<string>{{962,922},{170,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_27_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{162,128}</string>
			<key>spriteSourceSize</key>
			<string>{162,146}</string>
			<key>textureRect</key>
			<string>{{0,943},{162,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_27_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{108,93}</string>
			<key>spriteSourceSize</key>
			<string>{108,109}</string>
			<key>textureRect</key>
			<string>{{855,921},{108,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_27_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{178,146}</string>
			<key>spriteSourceSize</key>
			<string>{178,164}</string>
			<key>textureRect</key>
			<string>{{164,961},{178,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_28_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{467,989},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_28_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,116}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{589,989},{116,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_28_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{86,71}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{344,996},{86,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_28_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1274,1008},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_29_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1134,1016},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_29_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,116}</string>
			<key>spriteSourceSize</key>
			<string>{116,116}</string>
			<key>textureRect</key>
			<string>{{707,1051},{116,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_29_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{108,54}</string>
			<key>spriteSourceSize</key>
			<string>{108,84}</string>
			<key>textureRect</key>
			<string>{{825,1051},{108,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_29_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{950,1062},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_30_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{144,144}</string>
			<key>spriteSourceSize</key>
			<string>{144,144}</string>
			<key>textureRect</key>
			<string>{{0,1073},{144,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_30_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,133}</string>
			<key>spriteSourceSize</key>
			<string>{133,133}</string>
			<key>textureRect</key>
			<string>{{146,1109},{133,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_30_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{135,135}</string>
			<key>spriteSourceSize</key>
			<string>{136,136}</string>
			<key>textureRect</key>
			<string>{{281,1109},{135,135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_30_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,152}</string>
			<key>spriteSourceSize</key>
			<string>{152,152}</string>
			<key>textureRect</key>
			<string>{{418,1111},{152,152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{131,137}</string>
			<key>spriteSourceSize</key>
			<string>{131,137}</string>
			<key>textureRect</key>
			<string>{{572,1111},{131,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{123,131}</string>
			<key>spriteSourceSize</key>
			<string>{123,131}</string>
			<key>textureRect</key>
			<string>{{825,1107},{123,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,144}</string>
			<key>spriteSourceSize</key>
			<string>{138,144}</string>
			<key>textureRect</key>
			<string>{{1256,1138},{138,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{191,100}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{124,1246},{191,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{184,93}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{705,1255},{184,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{162,68}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{317,1265},{162,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-6}</string>
			<key>spriteSize</key>
			<string>{199,108}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{481,1265},{199,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{133,131}</string>
			<key>spriteSourceSize</key>
			<string>{142,142}</string>
			<key>textureRect</key>
			<string>{{1063,1272},{133,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-2}</string>
			<key>spriteSize</key>
			<string>{126,115}</string>
			<key>spriteSourceSize</key>
			<string>{137,120}</string>
			<key>textureRect</key>
			<string>{{1252,1278},{126,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{17,0}</string>
			<key>spriteSize</key>
			<string>{75,37}</string>
			<key>spriteSourceSize</key>
			<string>{110,38}</string>
			<key>textureRect</key>
			<string>{{0,1267},{75,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>swing_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{141,139}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{891,1290},{141,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheetGenerated-uhd.png</string>
		<key>size</key>
		<string>{1421,1429}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/IconSheetGenerated-uhd.png</string>
	</dict>
</dict>
</plist>