<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_03_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,100}</string>
			<key>spriteSourceSize</key>
			<string>{138,108}</string>
			<key>textureRect</key>
			<string>{{0,0},{130,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_01_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{125,96}</string>
			<key>spriteSourceSize</key>
			<string>{138,108}</string>
			<key>textureRect</key>
			<string>{{132,0},{125,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_01_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{121,92}</string>
			<key>spriteSourceSize</key>
			<string>{138,108}</string>
			<key>textureRect</key>
			<string>{{0,102},{121,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_01_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,108}</string>
			<key>spriteSourceSize</key>
			<string>{138,108}</string>
			<key>textureRect</key>
			<string>{{123,127},{138,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{43,53}</string>
			<key>spriteSourceSize</key>
			<string>{47,53}</string>
			<key>textureRect</key>
			<string>{{0,196},{43,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,-1}</string>
			<key>spriteSize</key>
			<string>{28,33}</string>
			<key>spriteSourceSize</key>
			<string>{47,53}</string>
			<key>textureRect</key>
			<string>{{55,196},{28,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{53,63}</string>
			<key>spriteSourceSize</key>
			<string>{57,63}</string>
			<key>textureRect</key>
			<string>{{55,226},{53,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{0,241},{18,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_03_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{233,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_03_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{28,60}</string>
			<key>textureRect</key>
			<string>{{120,267},{28,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_03_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{182,267},{54,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_04_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{8,-5}</string>
			<key>spriteSize</key>
			<string>{32,18}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{0,261},{32,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_03_04_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{52,281},{62,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_03-uhd.png</string>
		<key>size</key>
		<string>{247,323}</string>
		<key>textureFileName</key>
		<string>capeling.geometry-dash-lunar/robot_03-uhd.png</string>
	</dict>
</dict>
</plist>